.indexBack {
  background: url('../img/beachbg.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  background-size: cover;
}

#indexT{
  color: white;
  font-size: 100px;
  text-shadow: 5px 5px black;
  text-align: center;
  margin-top: 300px;
  font-family: 'Lobster', cursive;
}

.beach {
  background-color: #daf1f9;
  background-image: url('');
  height: 100vh;
}

.blueBackground {
  background-color: #ffebd3;
}

body {
  height: 100vh;
}

.logo {
  font-family: 'Merienda', cursive;
  font-weight: bold;
  color: black;
}

.tripsHeader {
  text-align: center;
  font-size: 50px;
  text-shadow: 5px 5px black;
  color: white;
  font-family: 'Concert One', cursive;
}

.navbar {
  background-color: #f1f0d1;
}

.navbar-start {
  text-align: right;
  display: inline;
  margin: 0;
  padding: 0;
}


.card+.card {
	margin-top: 40px;
}


.active {
  padding:15px;
  color:#a0cc78;
}

.container {
  top: 50px;
}

#consult1 {
  color: white;
  font-size: 40px;
  text-shadow: 5px 5px black;
  text-align: center;
  margin-top: -25px;
  font-family: 'Lobster', cursive;
}

@media screen and (max-width: 600px) {

    #indexT {
      margin-top: 70px;
      font-size: 50px;
    }
    .indexBack {
      -webkit-background-size:cover;
      background-size: cover;
      background-position: -650px;
    }
  }
